<div class="card">
  <div class="card-header">
    <h5>Create new Booking</h5>
  </div>
  <div class="card-body">
    <form>
      <div class="row mb-2">
        <div class="col">
          <label class="form-label">Id</label>
          <input
            type="number"
            class="form-control"
            name="id"
            [(ngModel)]="booking.id"
          />
        </div>
        <div class="col">
          <label class="form-label">Roomnumber</label>
          <input
            type="number"
            class="form-control"
            name="roomNumber"
            [(ngModel)]="booking.roomNumber"
          />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-4">
          <label class="form-label">Guest Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="booking.name"
          />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label class="form-label">Start Date</label>
          <input
            type="date"
            class="form-control"
            [value]="booking.startDate | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event, true)"
          />
        </div>
        <div class="col">
          <label class="form-label">End Date</label>
          <input
            type="date"
            class="form-control"
            [value]="booking.endDate | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event, false)"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button (click)="save()" class="btn btn-primary">Submit</button>
  </div>
</div>
