<div class="card bg-dark text-white">
  <div class="card-header">
    <h5>Create new Booking</h5>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="save()">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col">
          <label class="form-label">Id</label>
          <input type="number" class="form-control" formControlName="id" />
        </div>
        <div class="col">
          <label class="form-label">Roomnumber</label>
          <input
            type="number"
            class="form-control"
            formControlName="roomNumber"
          />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-4">
          <label class="form-label">Guest Name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label class="form-label">Start Date</label>
          <input
            type="date"
            class="form-control"
            [value]="booking.startDate | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event, true)"
            formControlName="startDate"
          />
        </div>
        <div class="col">
          <label class="form-label">End Date</label>
          <input
            type="date"
            class="form-control"
            [value]="booking.endDate | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event, false)"
            formControlName="endDate"
          />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
        [disabled]="bookingForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>
  </form>
</div>
